<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cr.tec.desarrollomovil.lectuticas">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/icono_lectuticas"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LeyendasActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".MainActivity"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>
        <activity
                android:name=".AcercaActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>
        <activity
                android:name=".CuentoCadejosActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".LeyendasActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".LeyendasActivity"/>
        </activity>
        <activity
                android:name=".CuentoCeguaActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".LeyendasActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".LeyendasActivity"/>
        </activity>
        <activity
                android:name=".PreguntasCeguaActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".LeyendasActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".LeyendasActivity"/>
        </activity>
        <activity
                android:name=".PreguntasCadejosActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".LeyendasActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".LeyendasActivity"/>
        </activity>
    </application>

</manifest>